<phpunit bootstrap="./bootstrap.php" backupGlobals="false">
  <testsuites>
    <testsuite name="AllUnitTests">
      <directory>../../*/tests/unit-tests/src</directory>
    </testsuite>
    <testsuite name="AllIntegrationTests">
      <directory>../../*/tests/integration-tests/src</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">../src/Hebis</directory>
    </whitelist>
  </filter>
</phpunit>
