<phpunit
    bootstrap="./bootstrap.php"
    backupGlobals="false">

    <testsuites>
        <testsuite name="AllUnitTests">
            <directory>./unit-tests/src</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../src/Hebis</directory>
        </whitelist>
    </filter>
    <!--
    <logging>
        <log type="coverage-html" target="storage/coverage" charset="UTF-8" yui="true" highlight="true" lowUpperBound="35" highLowerBound="70" />
        <log type="coverage-clover" target="storage/coverage/clover.xml" />
        <log type="tap" target="storage/logs/tap.log" logIncompleteSkipped="false" />
    </logging>
    -->
</phpunit>
